@import "../../public/fonts/font.css";

:root {
    --theme-color: #626aef;
    --login-form-font-size: 1.8rem;
    --theme-color-red: #eb432c;
    --theme-color-orange: #ff7802;
    --theme-color-yellow: #fbcd31;
    --theme-color-light-grey: #e6e6e6;
    --theme-color-grey-underline: #8a8a8a;
    --theme-color-grey-text: #8a8a8a;
    --theme-color-dark-grey-text: #515151;
    --grey-bg: #e6e6e6;
    --grey-bg2: #dbdbdb;
    --grey-bg3: #515151;
    --dark-grey-bg: #707070;
    --tag-color: #4e5da0;
    --nut-infiniteloading-bottom-color: var(--theme-color-grey-text);
    --nut-tabbar-height: 5rem;
}


* {
    margin: 0;
    font-family: "微软雅黑";
}

html {
    font-size: 62.5%;
}

html,
body {
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.login-form .nut-form .nut-input,
.login-form .nut-form .nut-input .input-text,
.login-form .nut-form .nut-button {
    font-size: var(--login-form-font-size);
}

.nut-sticky__box {
    margin-top: 5.5rem;
}

/* 轮播片 */
.nut-swiper-item {
    height: auto !important;
}

/* 进度条 */
.nut-progress-outer {
    background-color: var(--grey-bg) !important;
}

/* tabbar */
.nut-tabbar {
    bottom: -0.1rem !important;
}

/* tabs */
.nut-tabs__titles-item__text {
    font-size: 1.6rem !important;
    margin-bottom: 0.5rem;
}

.nut-tabs__titles-item__line {
    border-radius: 0.5rem !important;
}

.nut-tab-pane {
    padding: 0 !important;
    overflow-y: scroll !important;
    padding-bottom: 0rem !important;
    box-sizing: border-box;
}

/* textarea */
.nut-textarea {
    padding: 0 !important;
}

.nut-textarea__textarea {
    background-color: var(--grey-bg2) !important;
    padding: 1rem !important;
    box-sizing: border-box;
    border-radius: 1rem;
}

/* blog */
.blogs-container {
    width: 100%;
    position: relative;
    /* display: grid;
    grid-auto-rows: 5px;
    grid-template-columns: repeat(auto-fill, calc(50% - 5px));
    align-items: start;
    justify-content: space-between; */
}

.blog {
    width: 49.8%;
    position: absolute;
    /* background-color: #fff;
    -moz-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    float: left; 
    margin: 0.3rem 0; */
    border-radius: 0.5rem;
    overflow: hidden;
    top: -100vh;
}

.blog .blog-image {
    width: 100%;
}

.blog .blog-content {
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}

.blog .title {
    width: 100%;
    font-size: 1.6rem;
    word-wrap: break-word;
}

.blog .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.blog .avatar-name {
    display: flex;
    align-items: center;
}

.blog .avatar {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.blog .name {
    max-width: 7rem;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog .likes {
    display: flex;
    align-items: center;
}

.blog .likes-num {
    margin-left: 0.2rem;
    font-size: 1.4rem;
}

/* commodity */
.commodity {
    width: 96%;
    position: relative;
    margin: 0 auto;
    /* -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-width: 45%;
    padding: 0 2rem;
    box-sizing: border-box; */
}

.commodity .commodity-card {
    width: 49%;
    position: absolute;
    padding: 0.5rem 0;
    box-sizing: border-box;
    /* margin-bottom: 1.5rem;
    -moz-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    float: left; */
}

.commodity .commodity-card img {
    width: 100%;
    border-radius: 0.5rem;
}

.commodity .commodity-card .commodity-name {
    font-size: 1.6rem;
    height: 4rem;
    overflow: hidden;
    margin-top: 0.5rem;

}

.commodity .commodity-card .price-sold {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.commodity .commodity-card .price {
    font-size: 1.6rem;
    margin-right: 1rem;
}

.commodity .commodity-card .sold {
    font-size: 1.3rem;
    color: var(--theme-color-grey-text);
}

/* uploader */
.nut-uploader__upload {
    background-color: var(--grey-bg2) !important;
    border-radius: 1rem;
}

/* dialog */
.nut-popup {
    border-radius: 2rem !important;
}

.nut-dialog {
    padding: 2rem !important;
}

.nut-dialog .nut-dialog__content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem !important;
}

.nut-dialog .nut-button {
    font-size: 1.6rem !important;
}

/* follow-button */
.follow-button {
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    color: var(--theme-color-red);
    border: 0.1rem solid var(--theme-color-red);
}

.is-followed {
    color: var(--theme-color);
    border-color: var(--tag-color);
}

/* 下拉加载和上拉刷新 */
.nut-infinite__bottom-box__text,
.nut-infinite__bottom-tips {
    font-size: 1.6rem !important;
}